.tooltip {
  position: relative;
  display: inline-block;
  color: var(--primary-color);;
  border-bottom: 2px dotted var(--primary-color);
  cursor: help;
}

.tip {
  visibility: hidden;
  width: 150px;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tip.active {
  visibility: visible;
  opacity: 1;
}

.tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--primary-color);
}